.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.accordion-item {
    border: 1px solid var(--card-bg);
    border-radius: 12px;
    overflow: hidden;
} 
.accordion-header {
    padding: 15px;
    background-color: var(--border);
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion-header::after {
    content: '+';
    font-size: 1.2em;
}
.accordion-header.active::after {
    content: '-';
}
.accordion-content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: var(--cat-bg-low);
}
.accordion-content p {
    margin-top: 12px;
    margin-bottom: 12px;
}